name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-readme:
    name: Lint and style
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v6

      - name: Lint readme file
        uses: DavidAnson/markdownlint-cli2-action@v21
        with:
          config: .markdownlint.yml
          globs: '**/*.{md,markdown}'
